body{
	background: #f4f4f4;
	margin:0;
}
.container{
	width:70%;
	margin:2em auto;
	background: white;
	padding: 1em;
	position: relative;
}
.container a{
color:red;
}
.container > a{
	color:green;
}
.container + a{
	color:tomato;
}